In [2]:
# Dependencies 
import pandas as pd
import numpy as np

In [3]:
# City_bike_ride from Jan, 2020 to Dec, 2020 to dataframes
# Add month column to each dataframe

city_bike_01 = pd.read_csv("Data/JC-202001-citibike-tripdata.csv", low_memory=False)
city_bike_01["Month"] = "Janauary"
city_bike_02 = pd.read_csv("Data/JC-202002-citibike-tripdata.csv", low_memory=False)
city_bike_02["Month"] = "February"
city_bike_03 = pd.read_csv("Data/JC-202003-citibike-tripdata.csv", low_memory=False)
city_bike_03["Month"] = "March"
city_bike_04 = pd.read_csv("Data/JC-202004-citibike-tripdata.csv", low_memory=False)
city_bike_04["Month"] = "April"

city_bike_05 = pd.read_csv("Data/JC-202005-citibike-tripdata.csv", low_memory=False)
city_bike_05["Month"] = "May"
city_bike_06 = pd.read_csv("Data/JC-202006-citibike-tripdata.csv", low_memory=False)
city_bike_06["Month"] = "June"
city_bike_07 = pd.read_csv("Data/JC-202007-citibike-tripdata.csv", low_memory=False)
city_bike_07["Month"] = "July"
city_bike_08 = pd.read_csv("Data/JC-202008-citibike-tripdata.csv", low_memory=False)
city_bike_08["Month"] = "August"

city_bike_09 = pd.read_csv("Data/JC-202009-citibike-tripdata.csv", low_memory=False)
city_bike_09["Month"] = "September"
city_bike_10 = pd.read_csv("Data/JC-202010-citibike-tripdata.csv", low_memory=False)
city_bike_10["Month"] = "October"
city_bike_11 = pd.read_csv("Data/JC-202011-citibike-tripdata.csv", low_memory=False)
city_bike_11["Month"] = "November"
city_bike_12 = pd.read_csv("Data/JC-202012-citibike-tripdata.csv", low_memory=False)
city_bike_12["Month"] = "December"

In [4]:
# Combining 12 dataframes
df_frame = [city_bike_01, city_bike_02,city_bike_03, city_bike_04, city_bike_05, city_bike_06, 
            city_bike_07, city_bike_08, city_bike_09, city_bike_10, city_bike_11, city_bike_12]
city_bike = pd.concat(df_frame)

# Rename column names
city_bike.rename(columns={"start station latitude":"start_lat", "start station longitude":"start_lon", 
                          "end station latitude":"end_lat", "end station longitude":"end_lon", 
                          "start station id":"start_id", "start station name":"start_name", 
                          "end station id":"end_id", "end station name":"end_name"}, inplace=True)
city_bike.head()

,tripduration,starttime,stoptime,start_id,start_name,start_lat,start_lon,end_id,end_name,end_lat,end_lon,bikeid,usertype,birth year,gender,Month
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2,Janauary
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2,Janauary
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1,Janauary
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0,Janauary
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2,Janauary

In [5]:
# Droping null values
city_bike.dropna(inplace = True)

# Reset index
city_bike.reset_index(drop=True, inplace=True)

In [6]:
# Import dependency to find the distance between two locations
import haversine as hs

# Add distance column which indicates distance convered by each bike_id
def dist(city_bike):
    loc1 = (city_bike["start_lat"], city_bike["start_lon"])
    loc2 = (city_bike["end_lat"], city_bike["end_lon"])
    return hs.haversine(loc1, loc2, hs.Unit.MILES)

city_bike["distance"] = city_bike.apply(dist, axis=1)
city_bike.head()

,tripduration,starttime,stoptime,start_id,start_name,start_lat,start_lon,end_id,end_name,end_lat,end_lon,bikeid,usertype,birth year,gender,Month,distance
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2,Janauary,0.214016
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2,Janauary,0.584884
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1,Janauary,0.584884
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0,Janauary,0.890009
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2,Janauary,0.345969

In [13]:
# # !pip install uszipcode

# # Import us zipcode packages
# from uszipcode import SearchEngine
# search = SearchEngine(simple_zipcode=True)
# from uszipcode import Zipcode

# start_name = []; start_zip = {}
# end_name = []; end_zip={}

# #Find start station  and end station zipcodes
# for index, row in city_bike.iterrows():
    
# #     Conditional checking whether station name is in the start_name list if not append station name in the list
#     if (row[4] not in start_name):
#         start_name.append(row[4])
        
# #         Finding address including zipcode
#         s_zip = search.by_coordinates(lat = row[5], lng = row[6], returns = 1) 
        
# #         Inserting key, values in start_zip dictionary
#         start_zip[row[4]] = s_zip[0].zipcode
    
# #     Conditional checking whether station name is in the end_name list if not append station name in the list
#     elif (row[8] not in end_name):
#         end_name.append(row[8])
        
# #         Finding address including zipcode
#         e_zip = search.by_coordinates(lat = row[9], lng = row[10], returns = 1)
    
# #         To avoid index mismatching checking e_zip is true or not
#         if e_zip:
# #             Inserting key, values end_zip dictionary
#             end_zip[row[8]] = e_zip[0].zipcode

In [16]:
# !pip install uszipcode

# Import us zipcode packages
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)
from uszipcode import Zipcode

start_name = []; start_zip = {}
end_name = []; end_zip={}

# itertuples is faster than iterrows
#Find start station  and end station zipcodes
for row in city_bike.itertuples(index=False):
    
#     Conditional checking whether station name is in the start_name list if not append station name in the list
    if (row[4] not in start_name):
        start_name.append(row[4])
        
#         Finding address including zipcode
        s_zip = search.by_coordinates(lat = row[5], lng = row[6], returns = 1) 
        
#         Inserting key, values in start_zip dictionary
        start_zip[row[4]] = s_zip[0].zipcode
    
#     Conditional checking whether station name is in the end_name list if not append station name in the list
    elif (row[8] not in end_name):
        end_name.append(row[8])
        
#         Finding address including zipcode
        e_zip = search.by_coordinates(lat = row[9], lng = row[10], returns = 1)
    
#         To avoid index mismatching checking e_zip is true or not
        if e_zip:
#             Inserting key, values end_zip dictionary
            end_zip[row[8]] = e_zip[0].zipcode

In [17]:
# Add new columns start_zipcode and end_zipcode to the dataframe using map function
city_bike['start_zipcode'] = city_bike['start_name'].map(start_zip)
city_bike['end_zipcode'] = city_bike['end_name'].map(end_zip)
city_bike.head()

,tripduration,starttime,stoptime,start_id,start_name,start_lat,start_lon,end_id,end_name,end_lat,end_lon,bikeid,usertype,birth year,gender,Month,distance,start_zipcode,end_zipcode
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2,Janauary,0.214016,07302,07302
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2,Janauary,0.584884,07302,07302
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1,Janauary,0.584884,07302,07302
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0,Janauary,0.890009,07306,07304
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2,Janauary,0.345969,07302,07302

In [56]:
# Prepared single dataframe into csv file 
city_bike.to_csv("Data/city_bike.csv", index=False)

# Analysis of Tableau Visualizations

* Please look Tableau visualization links in the README

* Bike Start and End station map

As per the map visualization, the highest user start and end point destination is Grove St PATH.

* Monthly Analysis of most popular start and end stations

As per the visualization July, August, September are the most favorite months for the bike users in almost 
all stations.  People enjoys bike riding in summer season.

* Average trip duration by age and gender

As per the vizualization young female bike users are increasing. Females who born after 1997 like bike riding than males.  More realistic analysis is difficult becuase there are considerable number of unknown gender is also present.

* Monthly proportion of short term customers and annual subscribers

As per the visualization number of subscribers are increasing on every month.  In summer months May - September short term customers are increasing.

* Top 10 start and end stations in the city

Grove St PATH has the highest number of bike riders.

* Monthly trip duration in seconds with bikeid

The visualization shows that there is no signicant usage of a  particular bike id.

* The most likely bike id for repair

Two bike ids 44983 and 40831 were used extensively and these two are most likely to repair

* Bottom 10 Start  and end stations(greater than 0)

Stations considered which rented bikes atleast once.